body {
  font-size: 16px;  /*set this for step 2 */
  background-color: #e6e6e6;
  color: #000345;
  line-height: 175%; /*added to create space between lines*/
  font-family: Optima, sans-serif;
}

nav {
  background-color: rgba(128,128,128);
  float: left;
  position: fixed;
  width: 100%;
}


.caption { /*added to change caption under picture*/
  font-style: italic;
  padding-top: 10px;
}

.subtitle {     /*added to make subtitle change hierarchy*/
  font-size: 115%;
  padding-bottom: 5px;
}

.author{   /*added to make author stand out */
  font-weight:600
}

.title {      /*added to change headers */
  font-size: 300%;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 25px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

p {           /*trying to make space between paragraphs*/
padding-bottom: 15px;
}

ul {
  list-style-type: none;
  float: right;
}

a{
  text-decoration: none; /*trying to change link */
}

a:link { color:#ffffff; } /* unvisited */
a:visited { color:#ffffff; } /* visited */
a:hover { color:#0070BC; } /* mouse over */
a:active { color:#0070BD; } /* selected */

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
